@model Nightfall.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.FirstMidName)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.FirstMidName)
        </dd>
        <dt class="col-md-2">
            @Html.DisplayNameFor(model => model.EnrollmentDate)
        </dt>
        <dd class="col-md-10">
            @Html.DisplayFor(model => model.EnrollmentDate)
        </dd>
        <dt class="col-md-2">
            <label>Enrollments</label>
        </dt>
        <dd class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Course Title</th>
                        <th scope="col">Grade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.Enrollments)
                    {
                        <tr>
                            <td>@item.Course.Title</td>
                            <td>@item.Grade</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
